<ion-content>
  <ion-list lines="none">
    <ion-list-header text-center>
      <ion-label text-center>Get Ready for Checkup</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-avatar>
      <ion-label text-wrap>
        <h2>Dr. Andrew Fleming</h2>
        <p>Dog Specialist (3years Exp.)</p>
        <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta pariatur maiores molestiae harum autem
          reprehenderit laboriosam tenetur expedita, molestias earum, neque eum sunt!.</small>
      </ion-label>
      <ion-icon name="notifications" color="primary" size="large" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button fill="outline" expand="block" size="small" (click)="close()">Close</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" size="small" (click)="close()">Done</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>