<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-content>
        <ion-list lines="none" class="menu-list-user">
          <ion-item padding class="menu-user">
            <ion-avatar slot="start">
              <img src="./assets/img/user.png">
            </ion-avatar>
            <ion-label>
              <h2>Amanda Chris</h2>
              <p><small>Down Town, New York</small></p>
            </ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" detail="false" padding-top>
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item detail="false" padding-top>
            <ion-icon slot="start" name="ios-exit"></ion-icon>
            <ion-label>
              Logout
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>