// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


html,
body,
ion-content {
    --ion-background: #fcfcfd;
    background: #fcfcfd;
}

ion-toolbar:last-child {
    --border-width: 0 0 0 !important;
}

.menu-list-user {
    .menu-user {
        border-bottom: 1px solid var(--ion-color-primary);

        ion-avatar {
            width: 50px;
            height: 50px;
        }
    }
}

.menu-content {
    // --background: url("./assets/img/sidebottom.png") fixed no-repeat bottom left;
    // background-size: 50% auto;
    // background-attachment: fixed;
    --background: none;
    background-image: url('./assets/img/sidebottom.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
}