<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Vetzy
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="viewNotifications()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <ion-badge>3</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row padding-top>
      <ion-col size="6">
        <ion-card class="home-card" (click)="viewDoctors()">
          <ion-img src="./assets/img/dog.png"></ion-img>
          <ion-card-subtitle text-center padding>
            <ion-label color="primary">Dog</ion-label>
          </ion-card-subtitle>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="home-card" (click)="viewDoctors()">
          <ion-img src="./assets/img/cat.png"></ion-img>
          <ion-card-subtitle text-center padding>
            <ion-label color="primary">Cat</ion-label>
          </ion-card-subtitle>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="home-card" (click)="viewDoctors()">
          <ion-img src="./assets/img/turtle.png"></ion-img>
          <ion-card-subtitle text-center padding>
            <ion-label color="primary">Turtle</ion-label>
          </ion-card-subtitle>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="home-card" (click)="viewDoctors()">
          <ion-img src="./assets/img/rabbit.png"></ion-img>
          <ion-card-subtitle text-center padding>
            <ion-label color="primary">Bunny</ion-label>
          </ion-card-subtitle>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="home-card" (click)="viewDoctors()">
          <ion-img src="./assets/img/squirrel.png"></ion-img>
          <ion-card-subtitle text-center padding>
            <ion-label color="primary">Squirrel</ion-label>
          </ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>